<div class="baseball-players-position">
<table border="1px" bordercolor="#0000ff">
  <thead class="baseball-players-header">
    <tr>
      <th width="20px">ID</th>
      <th width="100px">選手名</th>
      <th width="250px">所属チーム</th>
      <th width="100px">ポジション</th>
      <th width="100px">出身地</th>
    </tr>
  </thead>
  <tbody>
    <tr class="baseball-players" *ngFor="let player of baseballPlayers; let idx = index; let odd = odd;"
      [ngClass] = "odd ? 'color-blue' : 'color-lightgreen'" (click)="openModalWithComponent(player.id)">
      <td>{{player.id}}</td>
      <td>{{player.name}}</td>
      <td>{{player.team}}</td>
      <td>{{player.position}}</td>
      <td>{{player.hometown}}</td>
    </tr>
  </tbody>
</table>
</div>
