version: 2.1
orbs:
  ruby: circleci/ruby@2.6.0
  browser-tools: circleci/browser-tools@2.3.2
jobs:
  build:
    parallelism: 1
    working_directory: ~/app
    docker:
      - image: cimg/ruby:4.0.1-browsers
        environment:
          RAILS_ENV: test
          DB_HOST: 127.0.0.1
          TZ: /usr/share/zoneinfo/Asia/Tokyo
          CIRCLE_TEST_REPORTS: /tmp/test-results
    steps:
      - checkout
      - browser-tools/install_browser_tools
          # chrome-version: 124.0.6367.78
      - restore_cache:
          keys:
            - bundle-{{ checksum "Gemfile" }}
            - bundle-
      - run:
          name: Install Ruby Dependencies
          command: >-
            bash -c "bundle config set --local path 'vendor/bundle' &&
            bundle config set clean 'true' &&
            bundle install --jobs=4"
          environment:
            GRPC_RUBY_BUILD_PROCS: 4
      - save_cache:
          key: bundle-{{ checksum "Gemfile" }}
          paths: vendor/bundle
      - run:
          name: Waits for Angular
          command: >-
            bash -c "cd frontend && npm install && npm run test"
      - run:
          name: Create DB
          command: RAILS_ENV=test bundle exec rails db:create db:schema:load
      - run:
          name: Rubocop
          command: bundle exec rubocop
      - run:
          name: RSpec
          command: bundle exec rspec
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: coverage
  bundle_update:
    docker:
      - image: cimg/ruby:4.0.1-node
    steps:
      - checkout
      - run:
          name : bundle update
          command: |
            gem update bundler -N
            gem install circleci-bundle-update-pr -N
            circleci-bundle-update-pr ${BUNDLE_UPDATE_GITHUB_USERNAME} ${BUNDLE_UPDATE_GITHUB_EMAIL}
workflows:
  version: 2.1
  build:
    jobs:
      - build
  circleci_bundle_update_pr:
    triggers:
      - schedule:
          cron: "0 2 * * 0"
          filters:
            branches:
              only:
                - master
    jobs:
      - bundle_update
