table.baseball-player-detail {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border: 1px solid #ccc;
}
table.baseball-player-detail thead {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background: #acd;
}
table.baseball-player-detail thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
}
table.baseball-player-detail tbody th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #efefef;
}
table.baseball-player-detail td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}
